@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/spacing.scss";

.container {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: $light_color;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
}

.value {
  width: 25%;
  align-items: center;
  font-family: $secondary_font;
  font-size: 1rem;
  display: flex;
  gap: 6px;
}

.button {
  color: $dark_color;
  border: none;
  font-size: 1.2rem;
}

.button:hover {
  color: #bc3a3a;
  cursor: pointer;
}

.button svg {
  font-size: 1.2rem;
}
