@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/spacing.scss";

.container {
  display: flex;
  flex-direction: column;
}

.expenditureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b1b;
  padding: 30px;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  box-shadow: 0 0 0 4px #702222, 0 0 0 8px #962e2e, 0 0 0 12px #bc3a3a;
}

.title {
  font-family: $secondary_font;
  color: $light_color;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.expenditureText {
  font-family: $secondary_font;
  color: $light_color;
  font-weight: bold;
  font-size: 26px;
}

.ghostDiv {
  height: 36px;
  width: 100%;
}
