@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/spacing.scss";
@import "../../../styles/media-sizes.scss";

.title {
  font-family: $primary_font;
  color: $dark_color;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContainer {
  display: flex;
  font-size: 1rem;
  font-family: $secondary_font;
  color: $dark_color;
  margin-bottom: 10px;
  border: 1px solid $dark_color;
  border-radius: 6px;
  padding: 10px;
  gap: 6px;
  text-align: center;
}

.input {
  font-size: 1rem;
  text-align: left;
  outline: transparent;
  border: none;
  width: 100%;
  font-family: $secondary_font;
  color: $dark_color;
  background-color: unset;
}

input::-webkit-date-and-time-value {
  text-align: left;
}

.button {
  background-color: $dark_color;
  border: 1px solid $light_color;
  font-family: $primary_font;
  color: $light_color;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 20px;
}

.button:hover {
  background-color: $light_color;
  color: $dark_color;
  border: 1px solid $dark_color;
  cursor: pointer;
}

@media only screen and (max-width: $tablet) {
  .title {
    font-size: 1.4rem;
  }

  .inputContainer {
    font-size: 0.9rem;
  }

  .input {
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.9rem;
  }
}
