@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/spacing.scss";
@import "../../styles/media-sizes.scss";

.button {
  background-color: $dark_color;
  border: 1px solid $light_color;
  font-family: $primary_font;
  color: $light_color;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-bottom: $padding;
  margin-top: $padding;
}

.button:hover {
  background-color: $light_color;
  color: $dark_color;
  border: 1px solid $dark_color;
  cursor: pointer;
}

@media only screen and (max-width: $tablet) {
  .button {
    font-size: 0.9rem;
  }
}
