@import "./styles/spacing.scss";
@import "./styles/colors.scss";
@import "./styles/fonts.scss";
@import "./styles/media-sizes.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: $dark_color;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.title {
  text-align: center;
  font-family: $primary_font;
  color: $light_color;
  font-size: 3rem;
  font-weight: 700;
}

.subheading {
  font-family: $secondary_font;
  color: $light_color;
}

.subheadingTwo {
  font-family: $secondary_font;
  color: $light_color;
  margin-top: 20px;
}

.analytics {
  display: flex;
  gap: 80px;
  padding: $padding;
  margin-top: 40px;
}

.description {
  font-family: $secondary_font;
  color: $light_color;
  margin-top: 20px;
}

@media only screen and (max-width: $tablet) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .subheading {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: $mobile) {
  .title {
    font-size: 1.6rem;
  }

  .analytics {
    flex-direction: column;
    gap: 30px;
    margin-top: 0;
  }
}
