@import "./styles/spacing.scss";
@import "./styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: $primary_color;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: $padding;
}

.analytics {
  display: flex;
  gap: 10px;
}
