@import "./styles/spacing.scss";
@import "./styles/colors.scss";
@import "./styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: $dark_color;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.title {
  font-family: $primary_font;
  color: $light_color;
  font-size: 3rem;
  font-weight: 700;
}

.subheading {
  font-family: $secondary_font;
  color: $light_color;
}

.subheadingTwo {
  font-family: $secondary_font;
  color: $light_color;
  margin-top: 20px;
}

.analytics {
  display: flex;
  gap: 80px;
  padding: $padding;
  margin-top: 40px;
}
